.aspect-16x9 {
	padding-bottom: 56.25% // 9 : 16 = 0,5625
}

.aspect-9x16 {
	padding-bottom: 177.78% // 16 : 9 = 1,7778
}

.aspect-4x3 {
	padding-bottom: 75% // 3 : 4 = 0,75
}

.aspect-3x4 {
	padding-bottom: 133.33% // 4 : 3 = 1,3333
}

@responsive {
	.border-box {
		box-sizing: border-box;
	}
	.content-box {
		box-sizing: content-box;
	}
	.-z-1 {
		z-index: -1;
	}
}

@variants hover {
	.scale-1 {
		transform: scale(1.01)
	}
	.scale-2 {
		transform: scale(1.02)
	}
	.scale-3 {
		transform: scale(1.03)
	}
	.scale-4 {
		transform: scale(1.04)
	}
	.scale-5 {
		transform: scale(1.05)
	}
}
